<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.thinkinggreen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

        <activity
            android:name=".Activities.LoginActiv"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CreateUserActiv"
            android:screenOrientation="portrait" />
        <!-- activity android:name=".LoginActiv" / -->
        <activity
            android:name=".Activities.RestaurantsActiv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserPreferencesActiv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AdvicesActiv"
            android:label="@string/titleAdvicesActiv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StoresActiv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainMenuUserActiv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RewardsActiv"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.AboutActiv"
            android:screenOrientation="portrait" />
    </application>

</manifest>